* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	margin: 0;
	padding: 0;
}
.hidden {
	display: none;
	pointer-events: none;
}
.ImageSize {
	width: 100%;
	height: auto;
	max-width: fit-content;
}
.StopScroll {
	height: 100vh;
	overflow: hidden;
}
#backdrop {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 10;
	pointer-events: none;
	display: none;
}
#backdrop.visible {
	display: block;
	pointer-events: all;
}
.attribution {
	font-size: 11px;
	text-align: center;
	padding: 2rem 0 0em;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
#body_content {
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	border: 1px solid red;
	margin: auto;
	animation: fade-Image 20s ease-in infinite;
	max-width: 1920px;
	padding: 1.5rem;
}
@keyframes fade-Image {
	0%,
	100% {
		background: url(../images/mobile/Hero_1.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center top;
	}
	50% {
		background: url(../images/mobile/Hero_2.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center top;
	}
}
#header {
	display: flex;
	justify-content: space-between;
}
.NavIcon {
	display: flex;
	column-gap: 0.5rem;
}
#main {
	padding: 20px 0;
}
.MainBox_1 {
	text-align: center;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}
#header_1 {
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	text-align: center;
	color: #ffffff;
	max-width: 290px;
	margin: 0 auto;
}
.paragraph_1 {
	margin: auto;
	max-width: 290px;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	text-align: center;
	color: #ffffff;
}
.SearchBox {
	display: flex;
	border: 1px solid #ffffff;
	border-radius: 30px;
	width: 100%;
	max-width: 17.5rem;
	margin: auto;
	background: rgba(255, 255, 255);
}
#search_bar {
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	padding: 0 1rem;
	width: 100%;
	outline: none;
	border: none;
	background: rgba(255, 255, 255, 0.5);
	padding: 7px 1rem;
}
::placeholder {
	color: #ffffff;
}
.SearchBtn {
	outline: none;
	border: none;
	background: rgba(255, 255, 255, 0.5);
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	padding: 7px 5px;
}
.Qualities {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	padding-top: 38px;
}
.quality_1 {
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid #fadcd9;
	box-shadow: 4px 2px 10px 2px rgba(247, 148, 137, 0.2);
	border-radius: 10px;
	padding: 0 10px;
}
.QualityBox {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	padding: 0 10px;
}
.IconSize {
	padding: 10px 0;
	width: 48px;
	height: 48px;
}
.header_2,
.header_4 {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #564e4e;
}
.Paragraph_2,
.Paragraph_ul {
	line-height: 24px;
	color: #564e4e;
}
.Paragraph_ul {
	padding: 10px 0 20px;
}
.MoreInfo {
	color: #f79489;
	font-size: 14px;
	line-height: 24px;
	padding: 10px 0;
}
.Visualize {
	padding: 100px 0px;
}
.header_3 {
	font-size: 20px;
	line-height: 26px;
	text-align: center;
	color: #564e4e;
}
ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}
.DesignList {
	padding: 0 0 20px;
}
.DesignIdea {
	padding: 40px 0 100px;
}
.ListHeader {
	display: flex;
	justify-content: space-between;
}
.IdeaText {
	color: #564e4e;
	font-size: 13.5px;
	font-weight: 700;
}
.FeaturedProduct {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-bottom: 80px;
}
.Products {
	display: flex;
	column-gap: 10px;
	padding: 20px 0;
}
.Previews {
	width: 50%;
	text-align: center;
}
.feedback {
	background: linear-gradient(279.85deg, #ffffff 0%, #faf5f2 100%);
	padding: 40px 0;
	display: flex;
	flex-direction: column;
	row-gap: 40px;
}
.header_4 {
	padding-bottom: 10px;
}
.profile {
	display: flex;
	column-gap: 10px;
	padding-top: 14px;
}
.ProfilePic {
	width: 40px;
	height: 40px;
}
.ProfileDetails {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.Name {
	font-weight: 500;
	font-size: 14px;
	color: #564e4e;
}
.Job {
	font-weight: 300;
	font-size: 12px;
	color: #564e4e;
}
.homey {
   padding: 100px 0;
}
.Ellipse {
	padding: 65px 0 10px;
}
